:root{
--background:#000430;
--secondaryBackground:#171c48;
--text:#fff;
--pupurple:#828dff;
--teal:#24feee;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:var(--background);
color:white;
}

.container{
max-width:500px;
margin:120px auto;
display:flex;
flex-direction:column;
align-items:center;
}

.stats-container{
padding:30px;
border-radius:20px;
border:2px solid var(--teal);
display:flex;
justify-content:space-between;
width:100%;
}

#progressBar{
width:100%;
height:10px;
background:var(--secondaryBackground);
margin-top:20px;
border-radius:5px;
}

#progress{
height:10px;
width:0%;
background:var(--teal);
border-radius:10px;
}

#numbers{
width:100px;
height:100px;
background:var(--pupurple);
display:flex;
align-items:center;
justify-content:center;
border-radius:50%;
font-size:28px;
font-weight:bold;
}

form{
margin-top:40px;
width:100%;
display:flex;
gap:10px;
}

input{
flex:1;
padding:10px;
background:var(--secondaryBackground);
border:1px solid var(--pupurple);
border-radius:10px;
color:white;
}

button{
width:50px;
height:50px;
border-radius:50%;
border:none;
cursor:pointer;
background:var(--pupurple);
color:white;
font-size:22px;
}

#voiceBtn{
background:var(--teal);
display:flex;
align-items:center;
justify-content:center;
}

#task-list{
margin-top:30px;
width:100%;
list-style:none;
display:flex;
flex-direction:column;
gap:10px;
}

.taskItem{
display:flex;
justify-content:space-between;
align-items:center;
background:var(--secondaryBackground);
padding:10px;
border-radius:10px;
}

.task{
display:flex;
gap:10px;
align-items:center;
}

.completed p{
text-decoration:line-through;
color:var(--teal);
}